<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Erudyte Commons | Single Post</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Erudyte Commons ">
    

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="/assets/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/assets/vendor/lightgallery/css/lightgallery-bundle.min.css"/>
    <link rel="stylesheet" media="screen" href="/assets/vendor/swiper/swiper-bundle.min.css"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="/assets/css/events-theme.css">

    <!-- Page loading styles -->
    <style>
      .container .title{
        margin-top:3rem;
      }
      .article-contents img{
        max-height:30rem !important;
        object-fit: scale-down !important;
      }
      

      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>
    <!-- page custom css -->
    <style>
        body{
            height: 100vh;
            width: 100vw;
            overflow-x: hidden;
        }
        
        .checkbox-input{
          display:none;
        }
        .course-lesson img,
        .course-lesson iframe,
        .course-lesson audio,
        .course-lesson:has(h1,h2,h3,h4,h5,h6){
          margin:0.5rem 0 !important;
        }
        .course-lesson img{
          max-height:30rem !important;
          object-fit: scale-down !important;
        }
        .course-outline{
          padding:1rem;
          width:100%;
          height:max-content;
          border: 1px solid #ccccf1;
          display:grid;
          grid-template-columns: 1fr;
          place-content: center;
          border-radius: 1rem;
        }
        .course-outline p{
          margin:0;
          padding:0;
        }
        .lesson-info{
          display:grid;
          grid-template-columns: repeat(4,1fr);
          place-items: center;
          gap:1rem;
        }
        .course-outline label{
          border-bottom: 1px solid rgb(200, 202, 217);
          cursor: pointer;
          padding:1rem;
        }
        .hidden{
          display:none;
          padding:0 2rem;
          margin:1rem 0 0 0;
        }
        .hidden p {
          margin-left:0.5rem;
        }
        .checkbox-input:checked + label .carret-wrapper i{
          transform:rotate(180deg);
        }
        .checkbox-input:checked + label .hidden{
          display:block;
        }
        label:last-child{
          border: none;
        }
        .lesson-number{
          width: 3rem;
          height: 3rem;
          border-radius: 100%;
          background-color: rgb(234 234 249);
          display: grid;
          place-items: center;
        }
        .button-wrapper{
          width:100%;
          height:5rem;
          display:grid;
          place-items: center;
        }
        .course-start-btn{
          margin:auto;
          padding:1rem;
          background:white;
          border:1px solid rgb(200, 202, 217);
          border-radius: 1rem;
          background: linear-gradient(45deg, #98c0dd, #9d9eff);
          cursor: pointer;
          width:50%;
          color:white;
          font-weight: 500;
          text-align: center;
          text-decoration: none;
        }
        .course-start-btn:hover{
          transform: scale(1.05);
          color:white;
        }
        .lesson-name{
          font-weight: 550;
        }
        .course-content{
          position: relative;
          height: 70rem;
          width: 100%;
          background: rgb(255, 255, 255);
          overflow-Y: auto;
          overflow-x: hidden;
          border-radius: 0.5rem;
          border: 1px solid rgb(200, 202, 217);
          z-index: 5;
        }
        .course-content .course-lesson{
          position: absolute;
          transform: translateX(100%);
          padding:2rem;
          width:100%;
        }
        .course-lesson:first-child{
          transform: translateX(0);
        }
        .lesson-controls{
          width:100%;
          display:grid;
          grid-template-columns: repeat(auto-fit,minmax(5rem,1fr));
          margin-top:2rem;
          background-color: rgba(255, 255, 255, 0.602);
          justify-content: space-between;
          align-items: center;
          padding:1rem;
          gap:0.5rem;
        }
        .lesson-controls button{
          padding:0.5rem;
          border-radius: 1rem;
          background:rgba(255, 255, 255, 0.845);
          /*height:max-content;*/
          height:100%;
          overflow: hidden;
          display:grid;
          align-items: center;
        }
        .lesson-controls button:hover{
          background-color:rgb(240 242 252);
        }

        
    </style>
    <!-- Theme mode -->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>
  </head>


  <!-- Body -->
  <body>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


<!-- Navbar -->
     <!-- User logged in state. User account dropdown -->
    <%- include('navbar') %>
    

    <!-- Breadcrumb -->
    <nav class="container pt-4 mt-lg-3" aria-label="breadcrumb">
    </nav>
    
    <section class="container mt-4 pt-lg-2 pb-3">
      <h1 class="pb-3 title" style="max-width: 970px;"><%= content.info.title %> </h1>
      <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between mb-3">
        <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
          <div class="fs-xs border-end pe-3 me-3 mb-2">
            <span class="badge bg-faded-primary text-primary fs-base"><%= content.info["type"] %> </span>
          </div>
          <div class="fs-sm border-end pe-3 me-3 mb-2"><%= content.info["published"] %></div>
          <div class="fs-sm border-end pe-3 me-3 mb-2"><%= content.info["time"] %></div>

        </div>
        <div class="d-flex align-items-center position-relative ps-md-3 pe-lg-5 mb-2">
          <img src="/assets/img/avatar/39.jpg" class="rounded-circle" width="60" alt="Avatar">
          <div class="ps-3">
            <h6 class="mb-1">Author</h6>
            <a href="#" class="fw-semibold stretched-link"><%= content.info["author"] %></a>
          </div>
        </div>
      </div>
    </section>


    <!-- Post content + Sharing -->
    <section class=" container mb-5 pt-4 pb-2 py-mg-4">
      <div class="row gy-4 ">

        <!-- Content -->
        <div class="col-lg-9">
          <!-- <img src="/media_assets/images/event-images/<%= content.info.mainImage%>"  style="aspect-ratio:4/3;max-height:30rem;"> -->
          <br/>
          <h5>Course Description:</h5>
          <p><%= content.info.description %> </p>

          <h5>COURSE CURRICULUM</h5>
          <ul class="course-outline">
            <label class="lesson-info "><h6>Lesson</h6></label>
            <% content.lessons.forEach(function(lesson,index) { %>
              <input class="checkbox-input" type="checkbox" id="lesson-toggle<%= index %>">
              <label for="lesson-toggle<%= index %>"> 
                <div class="lesson-info">
                  <p class="lesson-number"><%= index + 1%></p>
                  <p class="lesson-name"><%= lesson.title%></p>
                  <p class="lesson-duration"><i class="fa-regular fa-clock"></i>   <%= lesson.time%> </p>
                  <p class="carret-wrapper"><i class="fa-solid fa-angle-down"></i> Read More</p>
                </div>
                <div class="hidden">
                  <h6>Lesson Description:</h6>
                  <p><%= lesson.description %> </p>
                </div>
              </label>
            <% }); %>
          </ul>
          <!-- <div class="button-wrapper">
            <a href="#" class="course-start-btn">Start For Free</a>
          </div> -->
          <!-- course  -->
          <div class="course-content" data-lesson="">
            <% content.lessons.forEach(function(lesson,index) { %>
                <div class="course-lesson" data-lesson="<%= lesson.title %> ">
                      <h5 style="padding-bottom:0.5rem;border-bottom:1px solid #c8cad9;width:max-content;">Lesson <%=index+1 %>:   <%= lesson.title %></h5> <p class="lesson-duration"><i class="fa-regular fa-clock"></i>   <%= lesson.time%> </p>
                    <% for(let item of lesson.lessonContent) {%>
                      <% switch(item.type) {
                        case 'h1' : %>
                            <h1><%= item.data %> </h1>
                        <% break;
                        case 'h2' : %>
                            <h2><%= item.data %> </h2>
                        <% break;
                        case 'h3' : %>
                            <h3><%= item.data %> </h3>
                        <% break;
                        case 'h4' : %>
                            <h4><%= item.data %> </h4>
                        <% break;
                        case 'h5' : %>
                            <h5><%= item.data %> </h5>
                        <% break;
                        case 'h6' : %>
                            <h6><%= item.data %> </h6>
                        <% break;
                        case 'Paragraph' : %>
                            <p><%= item.data %> </p>
                        <% break;
                        case 'image' : %>
                          <img class="fit-img" src="/media_assets/images/event-images/<%= item.data %>" alt="">
                        <% break;
                        case 'Video' : %>
                          <video class="video" width="100%" height="auto" controls>
                            <source src="/media_assets/video/<%= item.data %>" type="video/mp4">
                          </video>
                        <% break;
                        case 'Embed-Video' : %>
                            <iframe  style="aspect-ratio:16 /9 !important;" src="<%=item.data %>" frameborder="0" allowfullscreen></iframe> 
                        <% break;
                        case 'Audio' : %>
                        <audio controls style="width: 70%;margin:auto;">
                          <source src="/media_assets/audio/<%=item.data %>" type="audio/ogg">
                          <source src="/media_assets/audio/<%=item.data %>" type="audio/mpeg">
                        Your browser does not support the audio element.
                        </audio>
                        <% break; } %>
                    <% } %> 
                    <div class="lesson-controls">
                      <%if(index > 0) {%>
                        <button class="lesson-btn" onclick="displayNextLesson('<%= content.lessons[index-1].title %>')"> <i class="fa-solid fa-arrow-left"></i>  Previous Lesson: <%= content.lessons[index-1].title %></button>
                      <% } else { %>
                        <p></p>
                      <% } %>

                    <%if(index < content.lessons.length-1) {%>
                      <button class="lesson-btn" onclick="displayNextLesson('<%= content.lessons[index+1].title %>')">Next Lesson: <%= content.lessons[index+1].title %> <i class="fa-solid fa-right-long"></i></button>
                    <% } else { %>
                      <p></p>
                    <% } %>
                    
                </div>
                    
                </div>

            <% }); %>
          </div>
            
          <!-- Tags -->
          <hr class="mb-4">
          <div class="d-flex flex-sm-row flex-column pt-2">
            <h6 class="mt-sm-1 mb-sm-2 mb-3 me-2 text-nowrap">Related Tags:</h6>
            <div>
              <a href="#" class="btn btn-sm btn-outline-secondary me-2 mb-2">#lifestyle</a>
              <a href="#" class="btn btn-sm btn-outline-secondary me-2 mb-2">#tech</a>
              <a href="#" class="btn btn-sm btn-outline-secondary me-2 mb-2">#business</a>
            </div>
          </div>
        </div >

        <!-- Sharing -->
        <div class="col-lg-3 position-relative">
            <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4"  ><!-- style="top: 105px !important"--> 
            <span class="d-block mb-3"><%= content.info["time"] %> read</span>
            <h6>Share this post:</h6>
            <div class="mb-4 pb-lg-3">
              <a href="#" class="btn btn-icon btn-secondary btn-linkedin me-2 mb-2">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-facebook me-2 mb-2">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-twitter me-2 mb-2">
                <i class="bx bxl-twitter"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-instagram me-2 mb-2">
                <i class="bx bxl-instagram"></i>
              </a>
            </div>
            <button class="btn btn-lg btn-outline-secondary">
              <i class="bx bx-like me-2 lead"></i>
              Like it
              <span class="badge bg-primary shadow-primary mt-n1 ms-3">8</span>
            </button>
          </div>
        </div>
      </div>
    </section>

    </main>

    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>
    <!-- custom script -->
    <script>
      const lessons = [...document.querySelectorAll(".course-lesson")];
      const parentContainer = document.querySelector(".course-content") 

      //displaying lessons
      const displayNextLesson = (title,direction=1)=>{
        console.log('clicked for next',title)
          lessons.forEach(lesson =>{
              if(lesson.getAttribute('data-lesson').replace(/\s+/g, "") == title.replace(/\s+/g, "")){
                lesson.style.transform = 'translateX(0)';
                lesson.style.transition = '0.5s';
                lesson.style.opacity = "1";
              }else{
                lesson.style.transform= 'translateX(-110%)';
                lesson.style.opacity = "0.5"
              }
          })
      }
    </script>

    <!-- Vendor Scripts -->
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="/assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main Theme Script -->
    <script src="/assets/js/theme.min.js"></script>
  </body>
</html>
