<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create a Post</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Erudyte Commons">
    

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="assets/vendor/boxicons/css/boxicons.min.css"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="assets/css/post-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Page loading styles -->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>

    <!-- Theme mode -->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>
  </head>


  <!-- Body -->
  <body>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


      <!-- Page content -->

    <main class="page-wrapper">
      <%- include('navbar') %>

      <section class="container pt-5">
        <div class="row">
          <section class="container pt-2 pt-lg-0 pb-5 mb-md-4 mb-lg-5">
            <h2 class="h1 text-center pb-3 pb-lg-4">Create Content</h2>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs flex-nowrap justify-content-lg-center overflow-auto pb-2 mb-3 mb-lg-4" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link text-nowrap active" id="daily-digest-tab" data-bs-toggle="tab" data-bs-target="#daily-digest" type="button" role="tab" aria-controls="daily-digest" aria-selected="true">
                  <i class="bx bx-news fs-xl opacity-60 me-2"></i>
                  Daily Digest
                </button>
              </li>
              <% if(role === 'Admin' || role === 'Author'){ %>
              <li class="nav-item" role="presentation">
                <button class="nav-link text-nowrap" id="course-tab" data-bs-toggle="tab" data-bs-target="#course" type="button" role="tab" aria-controls="course" aria-selected="false">
                  <i class="bx bx-book-open fs-xl opacity-60 me-2"></i>
                  Course
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link text-nowrap" id="publication-tab" data-bs-toggle="tab" data-bs-target="#publication" type="button" role="tab" aria-controls="publication" aria-selected="false">
                  <i class="bx bx-file fs-xl opacity-60 me-2"></i>
                  Publication
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link text-nowrap" id="news-tab" data-bs-toggle="tab" data-bs-target="#news" type="button" role="tab" aria-controls="news" aria-selected="false">
                  <i class="bx bx-news fs-xl opacity-60 me-2"></i>
                  News Article
                </button>
              </li>
              <% } %>
              <% if(role === 'Admin'){ %>
              <li class="nav-item" role="presentation">
                <button class="nav-link text-nowrap" id="funding-tab" data-bs-toggle="tab" data-bs-target="#funding" type="button" role="tab" aria-controls="funding" aria-selected="false">
                  <i class="bx bx-dollar fs-xl opacity-60 me-2"></i>
                  Funding Opportunity
                </button>
              </li>
              <% } %>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content bg-secondary rounded-3 p-4">
              <!-- Daily Digest -->
              <div class="tab-pane fade show active" id="daily-digest" role="tabpanel" aria-labelledby="daily-digest-tab">
                <%- include("./postComponents/dailyDigest") %>
              </div>

              <% if(role === 'Admin' || role === 'Author'){ %>
              <!-- Course -->
              <div class="tab-pane fade" id="course" role="tabpanel" aria-labelledby="course-tab">
                <%- include("./postComponents/courseCreation") %>
              </div>

              <!-- Publication -->
              <div class="tab-pane fade" id="publication" role="tabpanel" aria-labelledby="publication-tab">
                <%- include("./postComponents/publicationCreation") %>
              </div>

              <!-- News Article -->
              <div class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab">
                <%- include("./postComponents/newsArticleCreation") %>
              </div>
              <% } %>

              <% if(role === 'Admin'){ %>
              <!-- Funding Opportunity -->
              <div class="tab-pane fade" id="funding" role="tabpanel" aria-labelledby="funding-tab">
                <%- include("./postComponents/fundingOpportunityCreation") %>
              </div>
              <% } %>
            </div>
          </section>
        </div>
      </section>
    </main>

      <!-- Back to top button -->
      <a href="#top" class="btn-scroll-top" data-scroll>
        <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
        <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
      </a>
  
      <!-- Vendor Scripts -->
      <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
      <script src="assets/vendor/cleave.js/dist/cleave.min.js"></script>
  
      <!-- Main Theme Script -->
      <script src="assets/js/theme.min.js"></script>
  </body>
</html>
