<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Erudyte Commons</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Erudyte Commons">
    <meta name="keywords" content="teacher hub, educator network, STEM education, brand resources, workforce impact, inclusive education, language accessibility, neurodiverse learning, learning resources, online courses, conference landing, e-learning, teaching tools, teacher training, education platform">
    <meta name="author" content="Erudtion Inc">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="/assets/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/assets/vendor/lightgallery/css/lightgallery-bundle.min.css"/>
    <link rel="stylesheet" media="screen" href="/assets/vendor/swiper/swiper-bundle.min.css"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="/assets/css/events-theme.css">

    <!-- Page loading styles -->
    <style>
      .container .title{
        margin-top:3rem;
      }
      .article-contents img{
        max-height:30rem !important;
        object-fit: scale-down !important;
      }
      

      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>
    <!-- page custom css -->
    <style>
        body{
            height: 100vh;
            width: 100vw;
        }
        .content-wrapper{
            height: 35rem;
            width: 100%;
            margin: 1rem 0;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            place-items: center;
            justify-content: end;
            border-radius: 1rem;
        }
        .content-visuals{
          height: 100%;
          width: 100%;
          background: #f9f9f9;
          border-radius: 1rem 1rem 0 0;
          position: relative;
          border-bottom: none;
        }
        .content-visuals > span{
          height: 100%;
          width: 45%;
          background-color: rgb(181 189 232 / 88%);
          position: absolute;
          border-radius: 1rem;
          bottom: -10%;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          padding: 2rem;
          justify-content: space-around;
          transition: 0.5s ease-in-out;
        }
        .content-visuals span:nth-child(1){
            height: 110%;
            width: 50%;
            z-index: 5;
        }
        .content-visuals span:nth-child(2){
            transform: translateX(-100%) rotate(-25deg);
            background: rgb(156 156 158 / 80%);
        }
        .content-visuals span:nth-child(3){
          transform: translateX(10%) rotate(25deg);
          background: rgb(200 223 193 / 65%);
        }
        .content-visuals span .circle{
            height:4.5rem;
            width:4.5rem;
            border-radius: 100%;
            background-color: white;
            box-shadow:1px 1px 1px #717070;
        }
        .content-visuals span .square{
            height:5rem;
            width:5rem;
            border-radius: 1rem;
            background-color: white;
            box-shadow:1px 1px 1px #717070;
        }
        .content-visuals span .line{
            height:1rem;
            width:100%;
            background-color: white;
            border-radius: 1rem;
            box-shadow:1px 1px 1px #717070;
        }
        .content-wrapper:hover span{
            bottom:-15%;
        }
        .button-wrapper{
          width: 100%;
          height: 40%;
          background: white;
          border-radius: 0 0 1rem 1rem;
          position: relative;
          z-index: 10;
          border: 1px solid #d6d6d6;
          /* border-top: none; */
          display: grid;
          place-items: center;
        }
        .button-wrapper a{
            text-decoration: none;
            color: black;
            width: 60%;
            height: 60%;
            text-align: center;
            background: linear-gradient(45deg, #98c0dd, #9d9eff);
            border-radius: 1rem;
            color: white;
            display: grid;
            grid-template-columns: auto auto;
            place-content: center;
            font-weight: 500;
            border: 2px solid #b6b6b6;
            align-items: center;
            gap: 1rem;
            font-size: 1.1rem;
            text-shadow: -1px 1px 12px #423f3f;
            transition: 0.4s ease-in-out;
        }
        .button-wrapper a:hover{
            transform: scale(1.05);
        }
        .button-wrapper a i{
            font-size: 1.9rem;
            text-shadow: -1px 1px 12px #423f3f;
        }
        .button-wrapper a:focus{
            scale:0.9;
        }
    </style>
    <!-- Theme mode -->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>
  </head>


  <!-- Body -->
  <body>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


<!-- Navbar -->
     <!-- User logged in state. User account dropdown -->
     <%- include('navbar') %>
          

      <!-- Breadcrumb -->
      <nav class="container pt-4 mt-lg-3" aria-label="breadcrumb">
      </nav>


      <!-- Post title + Meta  -->
      <section class="container mt-4 pt-lg-2 pb-3">
        <h1 class="pb-3 title" style="max-width: 970px;"><%= content.title %> </h1>
        <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between mb-3">
          <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
            <div class="fs-xs border-end pe-3 me-3 mb-2">
              <span class="badge bg-faded-primary text-primary fs-base"><%= content["type"] %> </span>
            </div>
            <div class="fs-sm border-end pe-3 me-3 mb-2"><%= content["published"] %></div>
          </div>
          <div class="d-flex align-items-center position-relative ps-md-3 pe-lg-5 mb-2">
            <img src="/assets/img/avatar/39.jpg" class="rounded-circle" width="60" alt="Avatar">
            <div class="ps-3">
              <h6 class="mb-1">Author</h6>
              <a href="#" class="fw-semibold stretched-link"><%= content["author"] %></a>
            </div>
          </div>
        </div>
      </section>


      <!-- Post content + Sharing -->
      <section class=" container mb-5 pt-4 pb-2 py-mg-4">
        <div class="row gy-4 ">
          <!-- Content -->
          <div class="col-lg-9 article-contents">
            <h6><%= content["description"] %></h6>
            <div class="content-wrapper">
                
                <div class="content-visuals">
                    <span>
                        <div class="line"></div>
                            <div class="circle"></div>
                            <div class="square"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </span>
                    <span>
                        <div class="line"></div>
                            <div class="circle"></div>
                            <div class="square"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </span>
                    <span>
                        <div class="line"></div>
                            <div class="circle"></div>
                            <div class="square"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </span>
                    
                    
                </div>
                <div class="button-wrapper">
                    <a download href="/media_assets/pdf-files/<%= content["file"]%>"> <i class="fa-regular fa-circle-down"></i>  Download Document</a>
                </div>

                
            </div>
            <%#  <img height="400" width="400" src="/media_assets/images/event-images/< item.data >" alt=""> %>
            <!-- Tags -->
            <hr class="mb-4">
            <div class="d-flex flex-sm-row flex-column pt-2">
              <h6 class="mt-sm-1 mb-sm-2 mb-3 me-2 text-nowrap">Related Tags:</h6>
              <div>
                <a href="#" class="btn btn-sm btn-outline-secondary me-2 mb-2">#lifestyle</a>
                <a href="#" class="btn btn-sm btn-outline-secondary me-2 mb-2">#tech</a>
                <a href="#" class="btn btn-sm btn-outline-secondary me-2 mb-2">#business</a>
              </div>
            </div>
          </div >

          <!-- Sharing -->
          <div class="col-lg-3 position-relative">
              <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4"  ><!-- style="top: 105px !important"--> 
              <span class="d-block mb-3"><%= content["time"] %> read</span>
              <h6>Share this post:</h6>
              <div class="mb-4 pb-lg-3">
                <a href="#" class="btn btn-icon btn-secondary btn-linkedin me-2 mb-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-facebook me-2 mb-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter me-2 mb-2">
                  <i class="bx bxl-twitter"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-instagram me-2 mb-2">
                  <i class="bx bxl-instagram"></i>
                </a>
              </div>
              <button class="btn btn-lg btn-outline-secondary">
                <i class="bx bx-like me-2 lead"></i>
                Like it
                <span class="badge bg-primary shadow-primary mt-n1 ms-3">8</span>
              </button>
            </div>
          </div>
        </div>
      </section>

      <%#
      <!-- Post comments -->
      <section class="container mb-4 pt-lg-4 pb-lg-3">
        <h2 class="h1 text-center text-sm-start">4 comments</h2>
        <div class="row">

          <!-- Comments -->
          <div class="col-lg-9">

            <!-- Comment -->
            <div class="py-4">
              <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                <div class="d-flex align-items-center me-3">
                  <img src="/assets/img/avatar/03.jpg" class="rounded-circle" width="48" alt="Avatar">
                  <div class="ps-3">
                    <h6 class="fw-semibold mb-0">Esther Howard</h6>
                    <span class="fs-sm text-muted">4 mins ago</span>
                  </div>
                </div>
                <a href="#" class="nav-link fs-sm px-0">
                  <i class="bx bx-share fs-lg me-2"></i>
                  Reply
                </a>
              </div>
              <p class="mb-0">Nibh enim porta ut augue felis, donec sit luctus. Quis ullamcorper dolor sit mauris. Hendrerit eu libero, eu tristique sodales ultrices etiam adipiscing. Donec viverra sodales arcu gravida nibh at. Neque lobortis quis porta integer et placerat lectus scelerisque. Velit eget malesuada morbi faucibus at sed euismod. Tortor, eu ut id tincidunt leo placerat luctus.</p>
            </div>

            <hr class="my-2">

            <!-- Comment -->
            <div class="py-4">
              <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                <div class="d-flex align-items-center me-3">
                  <img src="/assets/img/avatar/02.jpg" class="rounded-circle" width="48" alt="Avatar">
                  <div class="ps-3">
                    <h6 class="fw-semibold mb-0">Ralph Edwards</h6>
                    <span class="fs-sm text-muted">September 9 at 12:48</span>
                  </div>
                </div>
                <a href="#" class="nav-link fs-sm px-0">
                  <i class="bx bx-share fs-lg me-2"></i>
                  Reply
                </a>
              </div>
              <p class="mb-0 pb-2">Eget amet, ac scelerisque tellus sed. Sapien duis sit neque pulvinar. Est sit aenean nisl etiam donec mattis ut diam. Luctus massa eu nunc aliquam viverra tempus, eu amet, luctus. Ac faucibus vestibulum eu lacus. Ullamcorper sem ultrices tincidunt pharetra?</p>

              <!-- Comment reply -->
              <div class="position-relative ps-4 mt-4">
                <span class="position-absolute top-0 start-0 w-1 h-100 bg-primary"></span>
                <div class="d-flex align-items-center justify-content-between ps-3 pb-2 mb-1">
                  <div class="d-flex align-items-center me-3">
                    <img src="/assets/img/avatar/05.jpg" class="rounded-circle" width="48" alt="Avatar">
                    <div class="ps-3">
                      <h6 class="fw-semibold mb-0">Albert Flores</h6>
                      <span class="fs-sm text-muted">16 hours ago</span>
                    </div>
                  </div>
                  <a href="#" class="nav-link fs-sm px-0">
                    <i class="bx bx-share fs-lg me-2"></i>
                    Reply
                  </a>
                </div>
                <p class="ps-3 mb-0"><a href="#" class="fw-semibold text-decoration-none">@Ralph Edwards</a> Vulputate malesuada amet, consequat ullamcorper. Orci, cras maecenas in sit purus pellentesque. Ridiculus blandit pellentesque eget arcu morbi nisl. Morbi volutpat adipiscing sapien sed ut tempor.</p>
              </div>
            </div>

            <hr class="my-2">

            <!-- Comment -->
            <div class="py-4">
              <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                <div class="d-flex align-items-center me-3">
                  <img src="/assets/img/avatar/07.jpg" class="rounded-circle" width="48" alt="Avatar">
                  <div class="ps-3">
                    <h6 class="fw-semibold mb-0">Cameron Williamson</h6>
                    <span class="fs-sm text-muted">March 24 at 8:20</span>
                  </div>
                </div>
                <a href="#" class="nav-link fs-sm px-0">
                  <i class="bx bx-share fs-lg me-2"></i>
                  Reply
                </a>
              </div>
              <p class="mb-0">Mattis id ut sed arcu metus elit faucibus condimentum aliquam. Nam adipiscing diam et suspendisse. Sagittis massa maecenas laoreet nulla amet nunc sagittis, pulvinar neque. Duis imperdiet ipsum suspendisse massa lectus habitasse. Id ante volutpat hendrerit augue parturient eget. Ac vitae posuere leo morbi vitae at hac lectus. Nibh neque quam quis amet mattis sit. Faucibus risus at sit tempus ut.</p>
            </div>
          </div>
        </div>
      </section>


      <!-- Comment form + Subscription -->
      <section class="container mb-4 pb-2 mb-md-5 pb-lg-5">
        <div class="row gy-5">

          <!-- Comment form -->
          <div class="col-lg-9">
            <div class="card p-md-5 p-4 border-0 bg-secondary">
              <div class="card-body w-100 mx-auto px-0" >
                <h2 class="mb-4 pb-3">Leave a Comment</h2>
                <form class="row gy-4 needs-validation" novalidate>
                  <div class="col-sm-6 col-12">
                    <label for="c-name" class="form-label fs-base">Name</label>
                    <input id="c-name" type="text" class="form-control form-control-lg" required>
                    <span class="invalid-tooltip">Please, enter your name.</span>
                  </div>
                  <div class="col-sm-6 col-12">
                    <label for="c-email" class="form-label fs-base">Email</label>
                    <input id="c-email" type="email" class="form-control form-control-lg" required>
                    <span class="invalid-tooltip">Please, provide a valid email address.</span>
                  </div>
                  <div class="col-12">
                    <label for="c-comment" class="form-label fs-base">Comment</label>
                    <textarea id="c-comment" class="form-control form-control-lg" rows="3" placeholder="Type your comment here..." required></textarea>
                    <span class="invalid-tooltip">Please, enter your comment.</span>
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input id="c-save" type="checkbox" class="form-check-input">
                      <label for="c-save" class="form-check-label">Save my name and email in this browser for the next time I comment.</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">Post comment</button>
                  </div>
                </form>
              </div>
            </div>
          </div>


      <!-- Related articles (Slider below lg breakpoint) -->
      <section class="container mb-5 pt-md-4">
        <div class="d-flex flex-sm-row flex-column align-items-center justify-content-between mb-4 pb-1 pb-md-3">
          <h2 class="h1 mb-sm-0">Related Posts</h2>
          <a href="library.html" class="btn btn-lg btn-outline-primary ms-4">
            All posts
            <i class="bx bx-right-arrow-alt ms-1 me-n1 lh-1 lead"></i>
          </a>
        </div>

        <div class="swiper mx-n2" data-swiper-options='{
          "slidesPerView": 1,
          "spaceBetween": 8,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 2
            },
            "1000": {
              "slidesPerView": 3
            }
          }
        }'>
          <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide h-auto pb-3">
              <article class="card border-0 shadow-sm h-100 mx-2">
                <div class="position-relative">
                  <a href="blog-single.html" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Read later">
                    <i class="bx bx-bookmark"></i>
                  </a>
                  <img src="assets/img/blog/01.jpg" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Article</a>
                    <span class="fs-sm text-muted">May 19, 2022</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a href="blog-single.html">Lorem Ipsum</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a href="#" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="/assets/img/avatar/01.jpg" class="rounded-circle me-3" width="48" alt="Avatar">
                    Jerome Bell
                  </a>
                </div>
              </article>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto pb-3">
              <article class="card border-0 shadow-sm h-100 mx-2">
                <div class="position-relative">
                  <a href="blog-single.html" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Read later">
                    <i class="bx bx-bookmark"></i>
                  </a>
                  <img src="/assets/img/blog/06.jpg" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Article</a>
                    <span class="fs-sm text-muted">Apr 1, 2022</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a href="blog-single.html">Lorem Ipsum</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a href="#" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="/assets/img/avatar/05.jpg" class="rounded-circle me-3" width="48" alt="Avatar">
                    Albert Flores
                  </a>
                </div>
              </article>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto pb-3">
              <article class="card border-0 shadow-sm h-100 mx-2">
                <div class="position-relative">
                  <a href="blog-single.html" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Read later">
                    <i class="bx bx-bookmark"></i>
                  </a>
                  <img src="/assets/img/blog/03.jpg" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Article</a>
                    <span class="fs-sm text-muted">Oct 16, 2022</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a href="/blog-single.html">Lorem Ipsum</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a href="#" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="/assets/img/avatar/02.jpg" class="rounded-circle me-3" width="48" alt="Avatar">
                    Ralph Edwards
                  </a>
                </div>
              </article>
            </div>
          </div>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4"></div>
        </div>
      </section>
      %>
    </main>

    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>


    <!-- Vendor Scripts -->
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="/assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main Theme Script -->
    <script src="/assets/js/theme.min.js"></script>
  </body>
</html>
