<div class="tab-pane fade <% if(event_data){%> active show<% } %> " id="sports" role="tabpanel" aria-labelledby="sports-tab">
    <div class="row align-items-center pt-3 pt-sm-4 pt-md-0 px-3 px-sm-4 px-lg-0">
        <h3 class="mb-lg-4">Event Post</h3>
        <!-- Basic info -->
    <form class="needs-validation border-bottom pb-3 pb-lg-4" enctype="multipart/form-data" method="post" action="/add-event" >
            <% if(event_data) {%>
                <div class="row pb-2">
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">Title</label>
                        <input name="title" type="text" id="fn" class="form-control form-control-lg" placeholder="Add a Title..." value="<%= event_data.title %>" required>
                        <div class="invalid-feedback">Please enter a title</div>
                    </div>
    
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">Event Date  -  Time</label>
                        <input name="dateTime" type="datetime-local" id="fn" class="form-control form-control-lg"  value="<%= new Date(event_data.dateTime).toISOString().slice(0, -1)%>"  required>
                        <div class="invalid-feedback">Please enter event location</div>
                    </div>
    
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">Event Location</label>
                        <input name="location" type="text" id="fn" class="form-control form-control-lg" placeholder="Online/ZOOM" value="<%= event_data.location %>"required>
                        <div class="invalid-feedback">Please enter event location</div>
                    </div>
    
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">Event Type</label>
                        <input name="type" type="text" id="fn" class="form-control form-control-lg" placeholder="Add Event title..." value="<%= event_data.type %>" required>
                        <div class="invalid-feedback">Please enter event type</div>
                    </div>
    
                    <div class="col-12 mb-4">
                    <label for="message" class="form-label">Message</label>
                    <textarea name="message" id="message" class="form-control" rows="4"required ><%= event_data.message %></textarea>
                    <div class="invalid-feedback">Please, enter your message!</div>
                    </div>
    
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">RSVP Link</label>
                        <div class="form">
                        <div class="file-upload-wrapper" data-text="select files">
                            <input name="link" type="text"  class="form-control form-control-lg" value="<%= event_data.link %>" placeholder="https://EventRSVPlocation...">
                        </div>
                        </div>
                    </div>
                    <input type="hidden" name="documentId" value="<%= event_data.documentId%>" >
                    <div class="col-sm-6 mb-4">
                    <label for="fn" class="form-label fs-base">Media upload</label>
                    <div class="form">
                        <label for="img-upload"class="file-upload-wrapper" data-text="select files">
                        <input name="event-upload-field" type="file" id="img-upload" class="file-upload-field" multiple accept="image/*">
                        </label>
                    </div>
                    </div>
            <% }else{ %>
                <div class="row pb-2">
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">Title</label>
                        <input name="title" type="text" id="fn" class="form-control form-control-lg" placeholder="Add a Title..." required>
                        <div class="invalid-feedback">Please enter a title</div>
                    </div>
    
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">Event Date  -  Time</label>
                        <input name="dateTime" type="datetime-local" id="fn" class="form-control form-control-lg"  required>
                        <div class="invalid-feedback">Please enter event location</div>
                    </div>
    
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">Event Location</label>
                        <input name="location" type="text" id="fn" class="form-control form-control-lg" placeholder="Online/ZOOM" required>
                        <div class="invalid-feedback">Please enter event location</div>
                    </div>
    
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">Event Type</label>
                        <input name="type" type="text" id="fn" class="form-control form-control-lg" placeholder="Add Event title..." required>
                        <div class="invalid-feedback">Please enter event type</div>
                    </div>
    
                    <div class="col-12 mb-4">
                    <label for="message" class="form-label">Message</label>
                    <textarea name="message" id="message" class="form-control" rows="4" required></textarea>
                    <div class="invalid-feedback">Please, enter your message!</div>
                    </div>
    
                    <div class="col-sm-6 mb-4">
                        <label for="fn" class="form-label fs-base">RSVP Link</label>
                        <div class="form">
                        <div class="file-upload-wrapper" data-text="select files">
                            <input name="link" type="text"  class="form-control form-control-lg" placeholder="https://EventRSVPlocation...">
                        </div>
                        </div>
                    </div>
    
                    <div class="col-sm-6 mb-4">
                    <label for="fn" class="form-label fs-base">Media upload</label>
                    <div class="form">
                        <div class="file-upload-wrapper" data-text="select files">
                        <input name="event-upload-field" type="file" class="file-upload-field" multiple accept="image/*" >
                        </div>
                    </div>
                    </div>
            <% } %> 

                
                
            <div class="d-flex mb-3">
                <button type="reset" class="btn btn-secondary me-3">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>

    </form>
    </div>
</div>
